.what-we-do {
  gap: 30px;
  list-style: none;
  position: relative;

  &__item {
    width: 370px;
    height: 294px;
    margin-right: 0;
  }

  &__label {
    position: absolute;
    color: $main-background-color;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1, 14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 370px;
    height: 70px;
    top: 224px;
    padding-top: 11px;
    background: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    padding-top: 27px;
  }
}

@media screen and (max-width: 1199px) {
  .secondary-title-hidden {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .what-we-do {
    display: contents;
    display: flex;
    justify-content: center;
  }
}
